<div class="container bg-light">
  <%= render './partials/header'%>
  <div class="tab-content bg-light" id="myTabContent">
    <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
      
      <table id="tablaPrepayments" class="table table-borderless" width="100">
        <thead>
            <tr>
                <th>ID</th>
                <th>Deudor</th>
                <th>Fecha</th>
                <th>N° Facturas</th>
                <th>% Anticipo</th>
                <th>Monto Final</th>
                <th>Estado</th>
            </tr>
        </thead>
        <tbody id="tablaPayments">
          <%= render @payments%>
            
        </tbody>
  
      </table>
  
    <%= will_paginate @payments,list_classes: %w(pagination justify-content-center), previous_label: '&laquo;', :next_label => '&raquo;' , renderer: WillPaginate::ActionView::BootstrapLinkRenderer %>
    </div>
    <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">...</div>
    <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">...</div>
  </div>
</div>

  
<%= render 'modal_payments' %>


<%= form_tag root_path, method: :get do %>
  <%= hidden_field_tag :start %>
  <%= hidden_field_tag :end %>
<% end %>


<script>
  var ranges = {
           'Hoy': ["<%= format_date(Date.current)%>"],
           'Últimos 7 Días': ["<%= format_date(Date.current - 7)%>", "<%= format_date(Date.current)%>"],
           'Últimos 30 Días': ["<%= format_date(Date.current - 30)%>", "<%= format_date(Date.current)%>"],
           'Este Mes': ["<%= format_date(Date.current.beginning_of_month)%>", "<%= format_date(Date.current)%>"],
           'Último Mes': ["<%= format_date(1.month.ago.beginning_of_month)%>", "<%= format_date(1.month.ago.end_of_month)%>"],
           'Último Año': ["<%= format_date(Date.current.beginning_of_year)%>", "<%= format_date(Date.current)%>"]
        };
  $(function() {
    $('#daterange').daterangepicker({
      startDate: moment("<%= l @start_date, format: '%Y-%m-%d' %>"),
      endDate: moment("<%= l @end_date, format: '%Y-%m-%d' %>"),
      ranges: ranges,
      alwaysShowCalendars: true
      
    }, function(start, end, label) {
      $("#start").val(start.format('YYYY-MM-DD'));
      $("#end").val(end.format('YYYY-MM-DD'));

      $("form").submit();
    });
  });
</script>

<script>
  function mostrarCartas() {
    document.getElementById('pay_<%= @payment.id %>').style.display = 'block';
  }

</script>

